<div class="modal-header">
	<h3 class="modal-title row">
		<span class="col-md-6 text-left">{{data.parature[0]['@display-name']}}</span>
		<span class="col-md-6 text-right">{{data.salesforce[0]['label']}}</span>
	</h3>
</div>

<div class="modal-body container-fluid">
	
	<!--Error Checking-->
	<alert class="text-center" type={{data.error.type}}>{{data.error.msg}}</alert>	
	
	<!--Data Comparison Table-->
	<div class="col-md-12 modal-table">
		<div class="col-md-6" ng-class="{'pull-right' : $index != 1}" ng-repeat="entity in data" ng-if="entity.length">
			<table class="table table-striped table-bordered">
				<tr ng-repeat="(key,value) in entity[0]">
					<td class="col-md-6 bold">{{key}}</td>
					<td class="col-md-6"><div class="cell">{{value}}</div></td>
				</tr>
			</table>
		</div>
	</div>
	
	<!--Mini Mapper-->
	<div class="col-md-12 modal-mapper">
		<div ng-repeat="(key,type) in data">
			<ul class="col-md-6 pull-left" ng-if="type[0][miniMap.parature].length" dnd-list="type[0][miniMap.parature]" dnd-allowed-types="['parature']">
				<li ng-repeat="option in type[0][miniMap.parature]" dnd-draggable="option" dnd-moved="type[0][miniMap.parature].splice($index, 1)" dnd-effect-allowed="move" dnd-type="key">
					{{option.Value}}
					{{option.Name['#text']}}
					{{option.Full_Name}}
					<i class="glyphicon glyphicon-transfer"></i>
				</li>			
			</ul>
			
			<ul class="col-md-6 pull-right" ng-if="type[0][miniMap.salesforce].length" dnd-list="type[0][miniMap.salesforce]" dnd-allowed-types="['salesforce']">
				<li ng-repeat="option in type[0][miniMap.salesforce]" dnd-draggable="option" dnd-moved="type[0][miniMap.salesforce].splice($index, 1)" dnd-effect-allowed="move" dnd-type="key">
					{{option.label}}
				</li>
			</ul>
		</div>
	</div>
				

</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submit()">Confirm</button>
	<button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>