<table class="table table-striped table-bordered">
	<tbody>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>	
		<tr ng-repeat="(key, value) in field">
			<td>{{key}}</td>
			<td>{{value}}</td>
		</tr>
	</tbody>
</table>
