<div class="modal-header">
	<h3 class="modal-title">Would you like to submit this?</h3>
</div>

<div class="modal-body">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th ng-repeat="(key,item) in data.entities[0]" class="col-md-6">{{key}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="entity in data.entities" ng-if="entity.parature.length && entity.salesforce.length">
				<td ng-repeat="item in entity" class="col-md-6">
					<span ng-if="item[0]">
						{{item[0]['@display-name']}} 
						{{item[0].label}}
						<code>[{{item[0].name}}]</code>
					</span>
				</td>
			</tr>
		</tbody>
	</table>

	
</div>

<div class="modal-footer">
	<button class="btn btn-primary" ng-click="submit()">Submit</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>