<!--Header-->
<div class="jumbotron text-center">
	<h1>Sync</h1>
	<p>{{ tagline }}</p>
</div>


<!--Action Buttons-->
<div class="form-group">
	<a ng-click="loadschema('Account'); show_UI = true;" class="btn btn-primary">Import Accounts</a>
	<a ng-click="loadschema('Customer'); show_UI = true;" class="btn btn-primary">Import Customers</a>	
	<a ng-click="loadschema('Asset'); show_UI = true;" class="btn btn-primary">Import Assets</a>	
	<a ng-click="loadschema('Product'); show_UI = true;" class="btn btn-primary">Import Product List</a>	
	<a ng-click="show_debug = !show_debug" class="btn btn-danger">Debugging Tools</a>
	<a ng-click="loadmap()" ng-show="mapping.map.type" class="btn btn-info">Show Current Mapping</a>
</div>


<!--Debugging-->	
<div class="form-group" ng-show="show_debug">
	<div>	
		<a class="btn btn-info" ng-click="show_pSchema = !show_pSchema; show_sSchema = false; show_Output = false;">Parature Schema JSON</a>
		<a class="btn btn-info" ng-click="show_pSchema = false; show_sSchema = !show_sSchema; show_Output = false;">Salesforce Schema JSON</a>
		<a class="btn btn-info" ng-click="show_pSchema = false; show_sSchema = false; show_Output = !show_Output;">Mapping Output</a>
	</div>	

	<div>
		<pre ng-show="show_pSchema">{{mapping.lists.parature | json}}</pre>
		<pre ng-show="show_sSchema">{{mapping.lists.salesforce | json}}</pre>
		<pre ng-show="show_Output">{{mapping.map | json}}</pre>
	</div>
</div>


<!--Search Fields-->
<div class="form-group" ng-show="show_UI">
	<div class="input-group col-md-6 col-md-offset-3">
		<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		<input type="text" ng-model="search" global-keydown placeholder="Search Fields..." class="form-control" />
	</div>      
</div>


<!--Mapping UI-->
<div ng-repeat="(key,list) in mapping.lists" data-ng-switch on="$first" ng-show="show_UI">

	<!--Lists To Choose From-->
	<ul class="container-fluid col-md-3" dnd-list="list.fields" dnd-allowed-types="list.allowed">
		<li 
			ng-repeat="field in list.fields | filter:search"
			dnd-draggable="field"			
			dnd-moved="list.fields.splice($index, 1)"
			dnd-effect-allowed="move"
			dnd-type="key"					
			dnd-selected="mapping.selected = field"
			dnd-dragstart="popover.hide(this)"
			popover-template="popover.templateUrl" 
			popover-title="Properties of {{field['@display-name']}}{{field.label}}" 
			popover-trigger="click" 
			popover-placement="left" 
		>
		{{field['@display-name']}}
		{{field.label}}
		</li>
	</ul>
		
	<!--Mapper-->  	
	<div data-ng-switch-when="true" class="col-md-6 mapper-container">
		
		<div class="mapper form-group">
			<div class="row" ng-repeat="(key,entity) in mapping.map.entities" ng-click="modal('confirm', $index)" ng-class="validator(this.entity)">
				<!--Parature--> 
				<div class="col-md-6">
					<ul dnd-list="entity.parature" dnd-disable-if="entity.parature.length > 0" dnd-allowed-types="mapping.lists.parature.allowed">
						<li ng-repeat="item in entity.parature" dnd-draggable="item" dnd-moved="entity.parature.splice($index, 1)" dnd-type="'parature'">{{item['@display-name']}}</li>
					</ul>
				</div>
				
				<i class="glyphicon glyphicon-transfer"></i>	
				
				<!--Salesforce--> 
				<div class="col-md-6">
					<ul dnd-list="entity.salesforce" dnd-disable-if="entity.salesforce.length > 0" dnd-allowed-types="mapping.lists.salesforce.allowed">
						<li ng-repeat="item in entity.salesforce" dnd-draggable="item" dnd-moved="entity.salesforce.splice($index, 1)" dnd-type="'salesforce'">{{item['label']}}</li>
					</ul>
				</div>
			</div>
		</div>
		
		<button class="btn btn-primary center-block submit" ng-click="modal('submit')">Start {{mapping.map.type}} Sync</button>	
		
	</div>

</div>
