<apex:page standardController="Asset" extensions="ActCodeLookupController" id="page" standardstylesheets="false" showHeader="false" sidebar="false">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet" media="screen"/> 
<style type="text/css">
    .form-inline, #responseBox { text-align: center; }
    .form-group input { text-align: center; font-size: 28px; line-height:0; }    
    #responseBox a { padding: 10px 30px; margin: 0px 5px; font-weight: bold; color: black; }
    #responseBox { padding: 10px; font-size: 18px; }    
    .btn-download {
        display: inline-block;
        box-shadow: 0 1px 0 0 #fce2c1 inset;        
        border: 1px solid black;
        border-radius: 10px;
        position: relative;
        padding: 10px 25px;
        color: black;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 0 #cc9f52;
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #ff8933) );
        background:-moz-linear-gradient( center top, #ffc477 5%, #ff8933 100% );
        background-color:#ffc477;       
    }
    .btn-download:hover { 
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff8933), color-stop(1, #ffc477) );
        background:-moz-linear-gradient( center top, #ff8933 5%, #ffc477 100% );
        background-color:#ff8933;
    }
</style>
    
<div id="codeEntry" class="form-inline">
    <div class="form-group">
        <div class="form-group"><input id="actCodePasteBox" class="actCodeText form-control" type="text" value="" maxlength="4" size="2" onpaste="fieldPaster(this)" oninput="fieldTabber(this)"/></div>
        <div class="form-group"><input class="actCodeText form-control" type="text" value="" maxlength="4" size="2" oninput="fieldTabber(this)"/></div>
        <div class="form-group"><input class="actCodeText form-control" type="text" value="" maxlength="4" size="2" oninput="fieldTabber(this)"/></div>
        <div class="form-group"><input class="actCodeText form-control" type="text" value="" maxlength="4" size="2" oninput="fieldTabber(this)"/></div>          
    </div>
</div>

<div id="responseBox"></div>
    
<script type="text/javascript">

//Constants and Vars
var locked = false;
var limiter = 0;
var productsJSON;

//Get Products List via JSONP
var script = document.createElement("script");
script.src = 'http://support1.geomagic.com/FileManagement/Download/c20a27fb15f646f588b9b0c7b359c4ba'; //Aka products.js (living on parature)
document.getElementsByTagName('head')[0].appendChild(script);
function jsonpCallback(data){
    productsJSON = data;
    if (getUrlVars()['actCode'] != null) { paramForm() };
};

// Make Request If URL Parameter Present
function paramForm() {
    console.log('URL Parameters Detected!')
    document.getElementById('codeEntry').style.display = 'none';
    var ParamActCode = getUrlVars()['actCode'];
    var ParamActArray = ParamActCode.replace(/\s/g,'').split("-");
    for ( var a = 0; a < ParamActArray.length; a++) {
        document.getElementsByClassName('actCodeText')[a].value = ParamActArray[a];
        fieldChecker(document.getElementsByClassName('actCodeText')[a]);
    }
    submitForm();
}

//Method to get Asset info and bound to the page by the standardController    
function submitForm() {
    
    var actCodeTextArray = document.getElementsByClassName('actCodeText');
    var actCodeArray = [];
    for ( var a = 0; a < actCodeTextArray.length; a++) {  
        if (!actCodeTextArray[a].parentNode.classList.contains('has-success')) {
            clearStyler();
            if (!isValid(actCodeTextArray[a].value)){ errorStyler('Activation Code Should Not Contain Special Characters'); }
            actCodeTextArray[a].focus();            
            return null;
        } else { 
            actCodeArray.push(actCodeTextArray[a].value);
        }
    }
    var actCode = actCodeArray.join('-').toUpperCase();

    if (locked == true) { errorStyler('Please Wait Before Entering Key Again'); return null; }
    else if (limiter > 5) { errorStyler('Maximum Number of Attempts Reached'); return null; }
    else if (actCode.length == 19) { makeQuery(actCode); }
    
    function makeQuery(Code) {
        limiter++
        locked = true;
        setTimeout( function(){ locked = false; },1000);
        ActCodeLookupController.doSubmitForm(
            Code, 
            function(result, event) {
                if(event.type === 'exception') {
                    console.log("exception");
                    console.log(event);
                } else if (event.status) {
                    maintLookup(result);
                } else {
                    console.log(event.message);
                }
            }
        );
    }
}

//Maintenance Lookup Function
function maintLookup(input) {
    
    var input = input.replace(/(&quot\;)/g,"\"");
    var inputJSON = JSON.parse(input);
    
    if (inputJSON.constructor === Array) {
        var inputProd = inputJSON[0];
        var inputDate = convertToDate(inputJSON[1]);
    } else {
        errorStyler(input);
        return null;
    }
             
    for ( var i = 0; i < productsJSON.length; i++) {
        if (!productChecker(inputProd)){ errorStyler('No Data Associated With That Product'); break; }
        if (productsJSON[i].product == inputProd) {
            var selected_prod = productsJSON[i].installer; 
            selected_prod.sort(function(a,b) { return convertToDate(b.relDate) - convertToDate(a.relDate) ; }); //Sort Array by Date
            for ( var j = 0; j < selected_prod.length; j++) { 
                var releaseDate = convertToDate(selected_prod[j].relDate);
                if (inputDate >= releaseDate) {
                    clearStyler();
                    if (selected_prod[j].x64 != null){buttonStyler(selected_prod[j].x64,'Download 64-bit');}
                    if (selected_prod[j].x86 != null){buttonStyler(selected_prod[j].x86,'Download 32-bit');}
                    if (selected_prod[j].x64 == null && selected_prod[j].x86 == null){ errorStyler('No Installers Associated With That Product'); }
                    break;
                } else { errorStyler('No Installers Match That Date'); }
            }
        }
    };
}
    
//Helper Functions   
function fieldTabber(original){
    fieldChecker(original);
    if (original.value.length == original.getAttribute("maxlength")) {
        if (original.parentNode.nextElementSibling != null) {
            var destination = original.parentNode.nextElementSibling.firstChild;         
            destination.focus();
            submitForm();
        } else {
            submitForm(); 
        }
    }    
}
function fieldPaster(field) {
    field.setAttribute('maxlength','30');
    var pasteReplacer = function() {
        field.setAttribute('maxlength','4');
        var pastedInput = field.value.replace(/\s/g,'').split("-");
        var pasteBoxes = document.getElementsByClassName('actCodeText');
        for ( var z = 0; z < pasteBoxes.length; z++) {
            pasteBoxes[z].value = pastedInput[z];
            fieldChecker(pasteBoxes[z]);
        }
        submitForm();
    }
    setTimeout(pasteReplacer,1); //Very Slight Delay Required        
}
function fieldChecker(field){
    if (field.value == '') {
        field.parentNode.classList.remove('has-success');             
        field.parentNode.classList.remove('has-error');
        field.onkeydown = function (e) { if(e.which == 9){ return true;} } //Re-Enable Tabbing on Blank
        clearStyler();
    }
    else if (!isValid(field.value) || field.value.length != 4) {
        field.parentNode.classList.remove('has-success');             
        field.parentNode.classList.add('has-error');
        field.onkeydown = function (e) { if(e.which == 9){ return false;} } //Disable Tabbing on Invalid
    } else {
        field.parentNode.classList.add('has-success');
        field.onkeydown = function (e) { if(e.which == 9){ return true;} } //Re-Enable Tabbing on Valid
        clearStyler();
    }
}
function isValid(str){
    return !/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/g.test(str);
}
function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) { vars[key] = value; });
    return vars;
}   
function buttonStyler(link,text){
    var a = document.createElement('a');
    a.className = 'btn btn-download';
    a.setAttribute('href',link);
    a.setAttribute('target','_blank');
    a.innerHTML = text;
    document.getElementById("responseBox").appendChild(a);
}
function errorStyler(text){
    document.getElementById('responseBox').innerHTML = text.replace(/"/g, "");
}
function clearStyler(){            
    document.getElementById("responseBox").innerHTML = "";
}
function productChecker(val){
    for ( var k = 0; k < productsJSON.length; k++) {
        if (productsJSON[k].product == val) {return true;}
    }; 
} 
function convertToDate(val){
    if (val.indexOf("-") > 0) { // 2015-02-10 - Unicode Date
        var dDate = val.split('-');
        var pDate = new Date(dDate[0],dDate[1]-1,dDate[2]); 
        return pDate;
    }
    else if (val.indexOf("/") > 0) { // 02/10/2010 - Formatted Date 
        var dDate = val.split('/');               
        var pDate = new Date(dDate[2],dDate[0]-1,dDate[1]);     
        return pDate;
    } else {
        alert('Invalid Date: '+ val);
    }
}    
                         
</script>
     
</apex:page>