<head>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"> 	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script>
</head>

<h4><b>Note:</b> Please visit <a href="http://gettingstarted.geomagic.com">http://gettingstarted.geomagic.com</a> for full instructions and trial downloads of the latest version.</h4>

<div ng-app="archives">
	<div ng-controller="archivesController">
		<div class="list-group-item" ng-repeat="product in products">

			<h4 ng-click="product.expanded = !product.expanded" style="cursor:pointer">{{product.product}}</h4>

			<div ng-repeat="field in product.installer" ng-if="field.migrated != true" ng-show="product.expanded">
				<a class="btn btn-primary" href="" ng-click="showDetails = !showDetails" style="margin-top:10px;"> {{field.version}} ( Released {{field.relDate}} ) </a>
				<div class="list-group-item" ng-show="showDetails">
					<a class="btn btn-warning" ng-href="{{field.x64}}" ng-show="field.x64" target="_blank">64-Bit</a>
					<a class="btn btn-warning" ng-href="{{field.x86}}" ng-show="field.x86" target="_blank">32-Bit</a>
					<a class="btn btn-success" ng-href="{{field.relNotes}}" ng-show="field.relNotes" target="_blank">Release Notes</a>
				</div>
			</div>

		</div>
	</div>
</div>
&nbsp;

<p><i><span style="color:red">*</span> For versions of the software released prior to December 20th, 2013 please contact <a href="http://support1.geomagic.com/ics/support/ticketNew.asp">technical support</a>.</i></p>
<script type="text/javascript">
var app = angular.module('archives', []);

//Application Controller
app.controller('archivesController', function($scope, getService){

	getService.products().then(
		function(response) {
			//Parse Response - Strip Off JSONP Callback & Convert to JSON Object
			var data = 	response.data;
			var str =   data.substring(data.indexOf("(") + 1, data.lastIndexOf(")"));					
			var obj = JSON.parse(str);
			
			//Assign To Scope
			$scope.products = obj;		
		},
		function(response) {		
			//Error Handling
			console.log('Error!');
			console.log(response);		
		}
	);

	
}); 

//GET Request Factory
app.factory('getService', function($http) {
    return {
        products: function() {
            return $http({
				method: 'GET',
				url: 'http://support1.geomagic.com/FileManagement/Download/c20a27fb15f646f588b9b0c7b359c4ba' //Same products.js used in actCode Visualforce page.
			});
        }		
    };
});
	 	 	 	 
</script>