<!-- Close Main Wrapper -->
</div>

<!-- Footer -->
<footer id="footer-wrapper" class="footer">
	<div id="footer" class="container">
	
		<div id="footer-title" class="row">
			<h3 class="col-md-12">About 3D Systems</h3>
		</div>
		
		<div id="footer-content" class="row">
			<div class="col-sm-12 col-md-6">
				<p>3D Systems provides the most advanced and comprehensive 3D digital design and fabrication solutions available today, including 3D printers, print materials and cloud-sourced custom parts. Its powerful ecosystem transforms entire industries by empowering professionals and consumers everywhere to bring their ideas to life using its vast material selection, including plastics, metals, ceramics and edibles. 3DS’ leading personalized medicine capabilities include end-to-end simulation, training and planning, and printing of surgical instruments and devices for personalized surgery and patient specific medical and dental devices. Its democratized 3D digital design, fabrication and inspection products provide seamless interoperability and incorporate the latest immersive computing technologies. 3DS’ products and services disrupt traditional methods, deliver improved results and empower its customers to <b><i>manufacture the future now.</i></b></p>
			</div>
			
			<div class="footer-spacer col-sm-12 col-md-2"></div>
			
			<div class="col-xs-6 col-md-2">
				<ul class="footer-menu">
					<li><a href="http://www.3dsystems.com/about-us">About 3D Systems</a></li>
					<li><a href="http://www.3dsystems.com/resources/press-room">News &amp; Events</a></li>
					<li><a href="http://www.3dsystems.com/investor">Investor Relations</a></li>
					<li><a href="http://www.3dsystems.com/careers">Careers</a></li>
					<li><a href="/">Support</a></li>
				</ul> 				
			</div>
			
			<div class="col-xs-6 col-md-2">
				<ul class="footer-menu">
					<li><a href="http://www.3dsystems.com/blog">Blog</a></li>
					<li><a href="/ics/support/contactUs.asp">Contact Us</a></li>
					<li><a href="http://www.3dsystems.com/privacy-policy">Privacy Policy</a></li>
					<li><a href="http://www.3dsystems.com/sales-terms-conditions">Sales Terms</a></li>
					<li><a href="http://www.3dsystems.com/terms-of-use">Terms and Conditions</a></li>
				</ul> 				
			</div>		
		</div>

		<div id="footer-copyright" class="row">
			<div class="col-sm-12 col-md-6">
				<ul class="social-icons"><li><a href="http://feeds.feedburner.com/3dSystemsRssNewsFeed" class="rss"><i class="fa fa-rss"></i></a></li>
					<li><a target="_blank" href="http://www.facebook.com/3dsystemscorp?ref=ts" class="facebook"><i class="fa fa-facebook"></i></a></li>
					<li><a target="_blank" href="http://www.youtube.com/user/rapidprotovideo" class="youtube"><i class="fa fa-youtube"></i></a></li>
					<li><a target="_blank" href="http://twitter.com/3dsystemscorp" class="twitter"><i class="fa fa-twitter"></i></a></li>
					<li><a href="http://www.3dsystems.com/blog" class="blogger"><i class="fa fa-comments"></i></a></li>
					<li><a target="_blank" href="http://www.linkedin.com/company/162213" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
					<li><a target="_blank" href="https://plus.google.com/b/103168178485811849235/103168178485811849235/posts" class="googleplus"><i class="fa fa-google-plus"></i></a></li>
					<li><a target="_blank" href="http://www.flickr.com/photos/71069187@N05/" class="flickr"><i class="fa fa-flickr"></i></a></li>
				</ul>
				<p>Copyright &copy; 2013 3D Systems, Inc. All rights reserved.</p>
			</div>
		</div>
		
	</div>
</footer>	


<!-- JQuery -->
<script type="text/javascript">

$(document).ready(function() {
	
	// Top Navigation ===================================================================
	
		/* Categories */
		
		/* Search */	
		$('#parature_search form').addClass('form-group search navbar-form navbar-right');
		$('#search input').addClass('form-control');
		$('#search input').wrapAll('<div class="input-group"></div>');
		$('#search .searchText').before('<span class="input-group-addon"><i class="fa fa-search"></i></span>');	
		$('#search .button').addClass('btn btn-default');
		$('#search .button').wrapAll('<span class="input-group-btn"></span>');
		$('#search .button').after('<span class="glyphicon glyphicon-search"></span>')
		$('#search').appendTo('#header-nav-categories');
		$('#search').click(function() { $('#search .searchText').focus(); });
		
		/* Login */
		$('#mli_contactUs').appendTo('#header-nav-login');
		$('#mli_ticket').appendTo('#header-nav-support');
		$('#mli_myProfile').appendTo('#header-nav-support');
		$('#mli_myTickets').appendTo('#header-nav-support');
		$('#mli_mySubscriptions').appendTo('#header-nav-support');
		$('<li role="separator" class="divider"></li>').insertAfter('#mli_ticket');
		$('.utilitymenu li').appendTo('#header-nav-login');	
	
	
	// Front Page =======================================================================
	$('#main-header').insertAfter('#header-wrapper');

		/* Most Recent & Most Popular */
		$('#kbGlance ol, #myrecent ol').each(function(){
			var cl 		= $(this).attr('class');
			var content = $(this).html();
			var tag		= $('<ul></ul>').html(content);
			if (cl != null) { tag.addClass(cl) };
			$(this).replaceWith(tag);
		});	
		$('#kbGlance').addClass('container');
		$('#kbGlance, #myrecent').prepend('<div class="stretcher"></div>');
		$('.mostpopular,.mostrecent').addClass('col-md-6');
		$('#kbGlance .item').remove()

		function stretch() { 
			$('.stretcher').each(function(){
				$(this).height($(this).parent().height()); 
			});
		}	
		stretch(); $(window).resize(stretch);
		
	
	// Generic Pages =======================================================================
	$('#breadcrumbs').prependTo('#parature_content');
	$('#relatedTopics').prepend('<div id="relatedTopics-toggle"></div>')	
	$('#relatedTopics-toggle').click(function() { $('#relatedTopics').toggleClass('active'); });
	$('#relatedTopics-toggle').click(function() { $('#relatedTopics').toggleClass('active'); });
	
	
	// Search Result Page =======================================================================
	$('.searchResults').before('<input placeholder="Search Me" id="searchFilter" type="text" />')
	$('#searchFilter').keyup(function() {
		var input = this.value.toLowerCase();
		
		$('.kbResultItem').each(function() {
			var text = $(this).text().toLowerCase();
			if (text.indexOf(input) < 0) { $(this).hide(); } 
			else { $(this).show(); }
		});
		
		$('.searchResults li:visible:odd').css('background-color','#FFFFFF');
		$('.searchResults li:visible:even').css('background-color','#E9E9E9');
	});
	
	
	// Bootstrap Support ======================================================================= //Needs Reviewed
		
		/* Fields */
		$('form').addClass('form-horizontal');
		$('.formField').addClass('form-group');
		$('span.required').parents('.form-group').addClass('required');
		$('label').not('.changepw').addClass('control-label col-sm-2');
		$('.control-label').each(function() {if ($(this).height() > 19) {$(this).css('padding-top','0px')}}); //Bootstrap Fix for Multi-Line Labels
		$('.forminput').addClass('col-sm-8');
		$('input, textarea, select').not('[type=button],[type=submit],[type=checkbox],[type=radio]').addClass('form-control');
		$('.formReadonlyInput').addClass('form-control').attr('disabled','disabled');
	
		/* Buttons */
		$('[type=button],[type=submit]').addClass('btn btn-primary');
		$('#printTicket a').addClass('btn btn-success').css('margin','15px');
	
	
	// Footer =========================================================================
	
	$('#footer-wrapper').insertAfter('#main-wrapper');
	
	// Trash Removal ===================================================================
	$('.searchLinks').remove();
	$('#mli_Exit').remove();
	$('#mli_myHistory').remove();
	$('#mli_myProducts').remove();
	$('.splash').remove();
	$('#parature_navigation').remove();
	$('#poweredby').remove();
	$('#treeView').remove();
	
});



</script>

