<head>

	<!-- Meta --->
	<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	
	<!-- Style --->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="http://www.3dsystems.com/sites/www.3dsystems.com/themes/theme_3dsys/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,300italic,400italic' rel='stylesheet' type='text/css'>
		
</head>