<div id="main-header">

	<!-- Parallax Image --->
	<div class="parallax-window banner" data-parallax="scroll" data-bleed="10" data-image-src="http://www.pennenergy.com/content/dam/Pennenergy/online-articles/2014/10/Wind%20farm%201.jpg">	
		<div class="banner-box">
			<section class="container">	
				<h2>
					<i class="fa fa-chevron-circle-right"></i>
					<a href="http://gettingstarted.geomagic.com"> Get Started</a>
				</h2>
				<h4>New to 3D Systems software products? This step-by-step guide will get you where you need to go.</h4>
		
				<hr />
		
				<p>Welcome to 3D Systems, Geomagic Solutions Technical Support. The goal of every member of the Technical Support staff is to see you succeed. We are here to help you use and experience Geomagic products and services effectively. We provide Native-speaking sales and engineering teams in every major region of the world to deliver technical support to customers in their local language. Also you will find a full set Self-Help Tutorials, User Guides, Videos and other support services available to you through our comprehensive Knowledge Base.</p>
			</section >
		</div>		
	</div>
	
</div>