/* 3DS Software Parature Stylesheet */

/* General */
body {padding-top: 50px;}

h1{font-weight: 600;}
h2,h3,h4,body,p,a {font-weight: 300;}
h1,h2,h3,h4,body,p,a{font-family: 'Open Sans', Helvetica, sans-serif; }


/* Header */
.navbar-fixed-top { margin: 0px; }
.navbar-brand img { max-height: 100%; }

@media only screen and (min-width : 768px) {
	#search .input-group-btn { display: none; }
	#search .searchText { 
		width: 0px;
		opacity: 0;
	    -webkit-transition: width .5s ease-in-out;
		-moz-transition:width .5s ease-in-out;
		-o-transition: width .5s ease-in-out;
		transition: width .5s ease-in-out;
	}
	#search .searchText:focus { opacity: 1; width: 100%; }	
}
@media only screen and (max-width : 768px) {
	#header-nav-categories{ text-align: center; font-weight: bold; }
	#header-nav-categories li{ display: inline-block; background-color: #ddd; width: 48%; margin: .5%;}
	#header-nav-categories li:hover{ background-color: #ccc; }
	.navbar-fixed-top .navbar-collapse { max-height: 100% !important; }
}
@media only screen and (max-width : 480px) {
	#header-nav-categories li{ display: inline-block; background-color: #ddd; width: 98%; margin: 1%;}
}

.search{
	margin: 0 auto;
	margin-top: 8px;
}

/** Front Page **/
.parallax-window {
    min-height: 500px;
	background: transparent;
}
.banner {
	min-height: 500px;
	display:table;
	position: relative !important;
	width: 100%;
}
.banner-box {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle;
}
.banner h2, .banner h4, .banner .fa, .banner p, .banner a { color: white; }
.banner h2 > a { 
	font-size: inherit; 
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;	
}
.banner h2 > a:hover { 
	font-size: 110%;
}
.stretcher{
	position: absolute;
	left: 0;
	right: 0;
	background-color: inherit;
}

#kbGlance .stretcher:after{
	content: '';
    position: absolute;
    bottom: -40px;
	left: 0;
	right: 0;
	margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 40px #e7e7e7;
    border-left: solid 40px transparent;
    border-right: solid 40px transparent;
	z-index: 999;
}

#kbGlance { background-color: #e7e7e7; }
#kbGlance ul, #myrecent ul{ margin: 40px 0px; padding-left: 0px; list-style: none;}
#kbGlance ul .heading{ margin-bottom: 10px; font-weight: bold; color: #777; }

#myrecent { background-color: #428bca; }
#myrecent .stretcher{ z-index: -1; }
#myrecent ul{ margin: 0px auto; padding-top: 60px; padding-bottom: 20px; text-align: center; color: #fff; }
#myrecent ul .heading{ margin-bottom: 10px; font-weight: bold; color: #e7e7e7; }
#myrecent a{ color: #fff; }

/** General Pages **/
/* Related Topics */
#relatedTopics{
	position: fixed;
	right: 0;
	top: 25%;
	width: 300px;
	max-width: 300px;
	padding: 20px;
	background-color: #f5f5f5;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;	
}
#relatedTopics-toggle{
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	height: 100%;
	margin-right: -40px;
}
@media only screen and (max-width : 1780px) {
	#relatedTopics{right: -290px;}
	#relatedTopics-toggle:after {
		position: absolute;
		top: 38%;
		left: -45px;
		font-size: 50px;
		font-family: 'FontAwesome';
		color: #428bca;
		content: '\f053'; /* fa-chevron-right */ 
	}	
	#relatedTopics.active{right: 0px;}	
	#relatedTopics.active #relatedTopics-toggle:after { content: '\f054'; }
}
@media only screen and (max-width : 768px) {
	#relatedTopics-toggle{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		height: 100%;
		width: 15px;
		background-color: #428bca;
	}
	#relatedTopics-toggle:after {
		position: absolute;
		left: 0px;
		content: ''
	}
	#relatedTopics.active #relatedTopics-toggle:after { content: ''; }	
}

/* Bread Crumbs */
#breadcrumbs {
    margin: 20px 0;
    padding: 5px 0;
	text-transform:uppercase;
	border-bottom: 1px solid #ddd;
}
#breadcrumbs  a{ 
	color: #428bca; 
}
#breadcrumbs span.breadcrumb:after {
    content: "/";
    padding: 0 3px;
}
#breadcrumbs span.last:after {
    content: "";
    padding: 0;
}
#breadcrumbs .last a{
	color: black;
}
.breadcrumb{
	background-color: transparent;
	padding: 0px;
}

/* Rating Box */
#ratingContent {
	text-align: center;
	margin-bottom: 40px;
}
#ratingContent .formheader {display:block;}
#ratingContent .formheader:nth-last-child(3):after, #ratingContent .formheader:nth-last-child(2):after {content: " | ";}
#ratingContent .formheader:nth-last-child(-n+3) {display:inline;}    
#ratingContent img {padding: 0px 2px;}
#ratingContent .voteText, .searchResultItem .articleLink, .searchResultItem .articleText, .searchResultItem .articleLocation  { display:block; }
#voteBoxSubmit { margin: 5px;}
.kb_toolbox ul { list-style:none;	padding-left:0px; }

/* Related Topics */
#relatedTopics .sectionTitle { display: block; width: 100%; text-align: center; font-weight: 600 }
.relatedTopics {list-style: none; padding: 0; margin: none;}
.relatedTopics  li{margin: 1em; margin-left: 3em;}
.relatedTopics  li:before {
	font-family: 'FontAwesome';
	content: '\f054"'; /* fa-chevron-right */ 
	float: left;
	margin-left: -1.5em;
	color: #CCC;
}

/* Search Results */
.searchResults ol{margin-right:40px;}
.searchResults li:nth-child(odd){	background-color:#E9E9E9; }
.searchResults li{padding: 10px; }
.searchResults li .articleLink{ font-size: 125%; }
.searchResults li .articleLocation .contentLinks{ font-size: 100%; }




/** Footer **/
#footer-wrapper { background-color: #222222; }
#footer{ color: #FFF; padding-top: 20px; }
#footer ul{ list-style: none; }
#footer p,a{ line-height: 22px; font-size: 12px; }
#footer a { text-decoration: none; color: #ccc; }
#footer a:hover{ text-decoration: underline; color: #FFF;}
#footer-title h3{ font-size: 16px; font-weight: 600; margin: 20px auto;}
@media only screen and (max-width : 992px) {
	#footer-copyright{text-align: center;}
	#footer ul{text-align: center; padding-left:0px;}
}
.social-icons {
	padding-left: 0;
	list-style: none;
}
.social-icons li {
	display: inline-block;
	padding: 5px;
}
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 1.8em;
	color: #FFF;
	background-color: #3ba1da; 
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.social-icons .fa:hover, .social-icons .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
