<!-- JS Libraries --->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> <!-- jquery.js --->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.4/angular.min.js"></script> <!-- angular.js --->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- bootstrap.js --->
<script src="http://support1.geomagic.com/FileManagement/Download/aa18fc7bee1a4f6cba07a3feaeb4deb6"></script> <!-- parallax.js --->

<!-- Top Navigation -->
<nav id="header-wrapper" class="navbar navbar-default navbar-fixed-top">

	<div class="container-fluid">
	
		<!-- Brand and Mobile Nav -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>				
			</button>
			<a class="navbar-brand" href="/" alt="Home">
				<img src="http://www.3dsystems.com/sites/www.3dsystems.com/themes/theme_3dsys/logo.png">
			</a>
		</div>
		
		<!-- Navigation Menu -->		
		<div id="header-nav" class="collapse navbar-collapse">
			<ul id="header-nav-categories" class="nav navbar-nav navbar-left">
				<li><a href="contactus.asp">Getting Started</a></li>
				<li><a href="contactus.asp">Downloads</a></li>
				<li><a href="contactus.asp">Knowledge Base</a></li>
				<li><a href="contactus.asp">Training</a></li>
			</ul>
		
			<ul id="header-nav-login" class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Support<span class="caret"></span></a>
					<ul id="header-nav-support" class="dropdown-menu"></ul>
				</li>
			</ul>
		</div>
		
	</div>

</nav>

<div id="main-wrapper" class="container" >